#callvideo {
    align-items: center;
    width: 100%;
    top: 10%;
    height: 600px;
    margin-top: 5%;
}
#callvideo div{
    position: relative;
}

.autosize-video {
    position: absolute;
    object-fit: cover;
}
#close-video{
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0;
    left: 96%;
}

#my-video {
    background: #726b54;
    width: 25%;
    align-items: flex-end;
    height: auto;
    right: 10%;
    bottom: -530px;
}

#friend-video {
    background: #53627a;
    width: 80% !important;
    height: 80% !important;
    margin-left: 10%;
    margin-top: 10%;
}