<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DLChat</title>
    <link rel="icon" href="../images/chat-logo.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="../style/default.css">
    <link rel="stylesheet" type="text/css" href="../style/login.css">
    <link rel="stylesheet" type="text/css" href="../style/callvideo.css">
    <link rel="stylesheet" type="text/css" href="../style/emojionearea.css">
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
    <script src="../js/socket.io.js"></script>
    <script src="../js/jquery.min.js"></script>
</head>

<body class="background">
    <div id="signin" class="shadow">
        <button class="button green-button" id="btn-switch-login">Đăng ký</button>
        <img class="logo" src="../images/chat-logo.ico" title="logo" alt="logo">
        <div class="signin-title" id="signin-title">
            <h1 id="h1-title">ĐĂNG NHẬP</h1>
            <p>Chat miễn phí với nhiều tính năng hơn</p>
        </div>
        <input type="text" name="user-name" id="user-name" placeholder="Tên tài khoản" /><br>
        <input type="password" name="password" id="password" placeholder="Mật khẩu" /><br>
        <input type="password" name="password-confirm" id="password-confirm" placeholder="Xác nhận mật khẩu" /><br>
        <button class="button" id="btn-continue">Tiếp tục</button>
        <button class="button" id="btn-skip">Bỏ qua</button><br>
        <p id="bottom-note"><a id="note-link" href="#">Quên mật khẩu?</a></p>
    </div>
    <div class="background content" id="rooms-order">
        <h1 id="rooms-title">DANH SÁCH PHÒNG CHAT</h1>
        <div id="rooms"></div>
        <button class="button green-button" id="btn-add-room">+</button>
        <div id="create-room">
            <script type="text/javascript">
            $('#create-room').hide();
            </script>
            <input type="text" name="new-room" id="ip-new-room" placeholder="Nhập tên phòng mới">
            <button class="button light-green-button" id="btn-confirm-create">Tạo</button>
        </div>
        <script type="text/javascript">
        $('#rooms-order').hide();
        </script>
    </div>
    <div id="callvideo" style="display: none">
        <button class="button green-button" id="close-video">X</button>
        <div><video class="autosize-video" id="friend-video" > </video></div>
        
        <div><video class="autosize-video shadow" id="my-video" ></video></div>
    </div>
    <div class="background content" id="change-background">
        <script type="text/javascript">
        $('#change-background').hide();
        </script>
    </div>
    <div class="content" id='content'>
        <div id="boxchat">
            <div class="menu-bar">
                <h1 class="friend-name" id="friend-name">Bạn mới</h1>
                <input class="input" id="ip-user-name" type="text" name="user-name" placeholder="Đổi biệt hiệu" style="float: left;">
                <img class="icon setting-icon" id="setting-icon" src="../images/SetingIcon.png">
                <ul class="setting-menu" id="setting-menu">
                    <li id="menu-change-name">Đổi biệt hiệu</li>
                    <li id="menu-join-room">Chọn Phòng</li>
                    <li id="menu-change-background">Đổi hình nền</li>
                    <li id="menu-signin">Đăng nhập</li>
                    <li id="menu-signout">Đăng xuất</li>
                    <li id="call"><a>Gọi</a></li>
                </ul>
            </div>
            <div class="messages">
            </div>
            <div class="bottom-input">
                <input class="input" id="message-input" type="text" name="input" placeholder="Nhập tin nhắn...">
                <label id="choose-file">
                    <img class="icon" src="../images/Add-attachment-icon.png" alt="add file" title="add file">
                    <input type="file" name="">
                </label>
                <label id="choose-image">
                    <img class="icon" src="../images/add-image-icon.png" alt="add image" title="add image">
                    <input type="file" name="" accept="image/png, image/jpeg">
                </label>
                </input>
                <button class="button" id="btn-send">Gửi</button>
            </div>
        </div>
        <div id="right-list">
            <div class="input find-friend">
                &#128269;<input class="input ip-find-friend" type="text" placeholder="search">
            </div>
            <ul class="list-friends">
            </ul>
        </div>
        <script type="text/javascript">
        $('#content').hide();
        </script>
    </div>
    
</body>
<script src="../js/chat-bundle.js"></script>
<script src="../js/login-bundle.js"></script>
</html>